{% block subject %}Password reset information for {{SITE_NAME}}{% endblock %}
{% block body %}A password reset process has been started for the username: {{Username}}<br/><br/>
To finish this process please click the link below (you have 1 hour):<br/>
<p class="button_container" style="text-align: center;
	margin: 10px 0;"><a class="button" target="_blank" href='{{SITE_URL}}/login.php?act=recover&key={{ResetKey}}' style="cursor: pointer;
    outline: 0;
    transition: all .1s linear;
    background: #4285f4;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    color: #ffffff;
    padding: 5px 10px;
    margin: 0px 2px;
	text-decoration: none !important;
	font-size: 1.1rem;">Reset</a></p>
The user who requested the password reset had the IP address {{IP}}.<br/><br/>
If you did not initiate this password reset then please disregard this email.{% endblock %}