{% block subject %}激活你的 {{SITE_NAME}} 账号{% endblock %}
{% block body %}这封电子邮件用于激活你刚刚在 {{SITE_NAME}} 注册的账号。你需要在 24 小时内激活并登录来完成 {{Username}} 的整个注册流程。<br/>
<p class="button_container" style="text-align: center;
	margin: 10px 0;"><a class="button" target="_blank" href='{{SITE_URL}}/register.php?confirm={{TorrentKey}}' style="cursor: pointer;
    outline: 0;
    transition: all .1s linear;
    background: #4285f4;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    color: #ffffff;
    padding: 5px 10px;
    margin: 0px 2px;
	text-decoration: none !important;
	font-size: 1.1rem;">激活</a>
<a class="button" target="_blank" href='{{SITE_URL}}/login.php?loginkey={{LoginKey}}' style="cursor: pointer;
    outline: 0;
    transition: all .1s linear;
    background: #4285f4;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    color: #ffffff;
    padding: 5px 10px;
    margin: 0px 2px;
	text-decoration: none !important;
	font-size: 1.1rem;">登录</a></p>
<span>你的 passkey 末八位是：{{LoginKey}} （将来可用于获取临时登录链接）</span>{% endblock %}