{% block subject %}重置你 {{SITE_NAME}} 账号的密码 | {% endblock %}
{% block body %}此邮件用于确认对该用户发起的密码重置请求：{{Username}} <br/><br/>
请在 1 小时内点击下方按钮完成密码重置：<br/>
<p class="button_container" style="text-align: center;
	margin: 10px 0;"><a class="button" target="_blank" href='{{SITE_URL}}/login.php?act=recover&key={{ResetKey}}' style="cursor: pointer;
    outline: 0;
    transition: all .1s linear;
    background: #4285f4;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    color: #ffffff;
    padding: 5px 10px;
    margin: 0px 2px;
	text-decoration: none !important;
	font-size: 1.1rem;">重置</a></p>

本次用户请求重置的 IP 地址为 {{IP}}。<br/><br/>
如果你不需要重置密码，请忽略此邮件。{% endblock %}